/* reset */
html, body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 addres, ul, ol, dl, dt, dd, table, th, td, form, fieldset{
  margin:0;
  padding:0;
  line-height:1.0;
  font-familu:"Hiragino Kaku Gothic ProN", meiryo, sans-serif;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

ul,ol{
  list-style:none;
}

a{
text-decoration: none;
}

img{
 border:0;
}

img,input{
  vertical-aligin: bottom;
}


/* style */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-image: url("/images/sora.jpg");
  -moz-background-size:100% 100%;
  background-size:100% 100%;
  border: none;
  vertical-align: bottom;
}

#header {}
#container {
  width: 100%;
  height: 0;
}

#left-column {
  width: 20%;
  min-width: 252px;
  height: 100%;
  color: RGBa(255,255,255,1);
  background-color: RGBa(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
}

#left-column #toggle-btn {
  cursor:pointer;
  position: absolute;
  right : 0;
  top : 13%;
  color: RGBa(255,255,255,1);
  background-color: RGBa(0,0,0,0.5);
  width: 40px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  moz-border-radius: 50px 0 0 50px;
  font-size: xx-large;
}

#left-column #toggle-btn.close {
  right: -40px;
  border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0 50px 50px 0;
  moz-border-radius: 0 50px 50px 0;
}

#left-column #left-column-container {
  over-flow: hidden;
  width: 80%;
  height: 80%;
  /*
  background-color: RGBa(255,255,255,0.5);
  */
  margin: 130px 10% 130px;
  display: inline-block;
}

#left-column #left-column-container {}

#left-column #left-column-container #title {
  margin: 10px 0;
  font-size: xx-large;
  font-weight: bold;
  /*
  font-family: 'Codystar', cursive;
  font-family: 'Snippet', sans-serif;
  font-family: 'Monofett', cursive;
  font-family: 'Ribeye Marrow', cursive;

  font-family: 'Voltaire', sans-serif;

  */
  font-family: 'Share Tech Mono', sans-serif;
  letter-spacing: -0.04em;
}

#left-column #left-column-container input[type="text"]{
  margin: 10px 0;
  width: 99%;     /* 100%にするとなぜかボタンよりおおきくなってしまうため99% */
  border: none;
}

#left-column #left-column-container input[type="submit"] {
  margin: 5px 0;
  background-color: #FFB400;
  border: 0;
  width: 100%;
  height: 40px;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: medium;
}

#left-column #left-column-container #description {
  margin: 5px 0;
  word-wrap: break-word;
  height: 30%;
  overflow: hidden;
  font-size: small;
}

#left-column #left-column-container #now {
  margin: 20px 0 0;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: medium;
}

#left-column #left-column-container #past {
  margin: 20px 0 0;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: medium;
}

#left-column #left-column-container #list {
  width : 100%;
  height: 40px;
}

#left-column #left-column-container #list ul {
  width: 100%;
  height: 100%;
}

#left-column #left-column-container #list ul li{
  width: 30px;
  height: 30px;
  margin: 5px;
  float: left;
}

#left-column #left-column-container #list ul li .thumb {
  width: 24px;
  height: 24px;
  background-color: #ccffcc;
  border: 3px solid RGBa(255,255,255,0.5);
}

#bottom-column {
  width : 100%;
  height: 130px;
  color: RGBa(255,255,255,1);
  background-color: RGBa(255,255,255,0.5);
  position:absolute;
  bottom:0;
}

#bottom-column #menu {
  width: 20%;
  min-width: 252px;
  height: 100%;
  float: left;
}

#bottom-column #menu #menu-container {
  width: 80%;
  max-height: 60%;
  /*
  background-color: RGBa(255,255,255,0.5);
  */
  margin: 20px 10% 130px;
  display: inline-block;
}

#bottom-column #menu #menu-container {
  font-size: x-large;
}

#bottom-column #menu #menu-container #live {}

#bottom-column #menu #menu-container #time-shift {}

#bottom-column #list-wrap {
  position: relative;
  width: 80%;
  height: 100%;
  background: #efefef;
  float: left;
}

#bottom-column #list-wrap .show {
  cursor: pointer;
  background: #FF3399;
}

#bottom-column #list-wrap .hide {
  background: #ccc;
}


#bottom-column #list-wrap #list {
  width : 80%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

#bottom-column #list-wrap #prev {
  left: 0px; //戻るボタンを左端に配置
  background-color: #FF0000;
  width: 10%;
  height:100%;
  float:left;
}

#bottom-column #list-wrap #next {
  right: 0px; //進むボタンを右端に配置
  background-color: #00FF00;
  width: 10%;
  height:100%;
  float:left;
}

#bottom-column #list-wrap #list ul {
  height: 100%;
}

#bottom-column #list-wrap #list ul li{
  width: 20%;
  height: 110px;
  float: left;
  margin: 10px 1%;
  display: inline;
}

#bottom-column #list-wrap #list ul li .thumb {
  width: 92%;
  height: 94px;
  background-color: #ccffcc;
  border: 8px solid RGBa(255,255,255,0.5);
}

#footer {}
