html, body, #streetview-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#map-canvas {
    height: 240px;
    width: 320px;
    position: absolute;
    right: 16px;
    bottom: 32px;
    border: 0px solid gray;
    z-index: 999;
}

#party-canvas {
    height: 174px;
    width: 286px;
    position: absolute;
    left: 16px;
    bottom: 64px;
    border: 0px solid gray;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 990;
    padding: 17px;
    color: azure;
}

#chat-input {
    height: 24px;
    width: 306px;
    font-size: 100%;
    font-weight: 200;
    font-family: 'Share Tech Mono';
    position: absolute;
    left: 16px;
    bottom: 32px;
    border: 0px solid gray;
    padding-left: 7px;
    padding-right: 7px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    color: azure;
}
#chat-input:focus {
    outline: deepskyblue solid 1px ;
}

#comment-canvas {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 998;
}

#join-area {
    position: absolute;
    height: 28px;
    width: 158px;
    left: 16px;
    bottom: 32px;
    z-index: 999;
}

#caution {
    position: absolute;
    height: 24px;
    width: 100%;
    top: 0px;
    text-align: center;
    z-index: 990;
    background-color: #ff4444;
    display: none;
    color: white;
    font-size: 15pt;
    font-family: 'Share Tech Mono';
}

#count {
    position: absolute;
    height: 24px;
    width: 306px;
    left: 16px;
    bottom: 64px;
    z-index: 999;
    color: #DDDDDD;
    text-align: right;
}

#custom-tweet-button {
    position: absolute;
    padding: 0;
    background: url('https://twitter.com/favicons/favicon.ico') center no-repeat;
    background-color: rgba(255, 255, 255, 0.9);
    width: 32px;
    height: 32px;
    left: 33px;
    bottom: 280px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font-family: 'Share Tech Mono';
    z-index: 999;
}
#custom-tweet-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
#custom-tweet-button:active {
    background-color: rgba(255, 255, 255, 1);
}

#tweet-box {
    padding: 7px;
    padding-right: 7px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    height: 0px;
    width: 306px;
    left: 16px;
    bottom: 325px;
    display: none;
    text-align: right;
    z-index: 999;
}
#tweet-box:after {
    content: '';
    position: absolute;
    border-top: 10px solid rgba(255, 255, 255, 0.9);;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    bottom: -10px;
    left: 22px;
}

#tweet-input {
    padding: 5px;
    height: 90px;
    width: 294px;
    border-style: none;
    background: transparent;
    resize: none;
    font-size: 10pt;
    font-family: 'Share Tech Mono';
    z-index: 999;
}
#tweet-input:focus {
    outline: deepskyblue solid 1px ;
}

#tweet-post{
    margin-top: 5px;
    background: deepskyblue;
    border: none;
    color: white;
    right: 0;
    z-index: 999;
}
#tweet-post:focus {
    outline: deepskyblue solid 1px ;
    background: deepskyblue;
    opacity: 0.7;
}
#tweet-post:hover {
    outline: deepskyblue solid 1px ;
    background: deepskyblue;
    opacity: 0.7;
}
#tweet-post:active {
    outline: deepskyblue solid 1px ;
    background: transparent;
    color: deepskyblue;
}

.party-member-icon {
    /*border: solid rgba(255,255,255,0.5) 1px;*/
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: top left;
    -moz-background-size:cover;
    background-size:cover;
}

#party-member-list {
    margin: 0;
    padding: 0;
}
#party-member-list>li {
    list-style: none;
    display: block;
    margin-bottom: 5px;
}

.party-member-name {
    font-family: 'Share Tech Mono';
    line-height: 32px;
    padding-left: 37px;
}

#rank-btn-wrap {
    position: absolute;
    height: 25px;
    background-color: RGBa(255, 255, 255, 0.8);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    moz-border-radius: 2px;
    z-index: 999;
}

#count {
    font-size: 10pt;
    font-family: 'Share Tech Mono';
}

#back-to-top a{
    color: white;
    position: absolute;
    top: 25px;
    left: 10px;
    z-index: 998;
    font-size: 24pt;
    font-family: 'Share Tech Mono';
    text-decoration: none;
    text-shadow: 4px 4px 1px #222;
}

#back-to-top a:hover{
    text-decoration: underline;
}